<div class="min-h-screen w-full h-full relative overflow-x-hidden">
  <div class="bg-primary-inlaze rounded-full opacity-40 w-96 h-96 absolute left-3/4 pointer-events-none">

  </div>
  <div class="max-w-screen-2xl mx-auto px-5 py-4 ">
    <img src="assets/images/assets-wires/img/Group 2.png" alt="logo wires" width="200" class="mb-5">
    <h2 class="font-bold text-2xl text-left text-white mb-3">
      Create a message to shared with your friends.
    </h2>
    <h2 class="text-xl text-left text-white mb-4">
      Create your first message following the first steps:
    </h2>

    <div class="mb-3">
      <div class="flex item-center text-white mb-5">
        <img src="../../../assets/images/assets-wires/img/Fashion blogging-pana 2.png" width="100" height="100"
          class="mr-3" alt="">
        <p class="text-xs mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus quae qui, sint labore
          perspiciatis voluptas.</p>
      </div>
      <div class="flex item-center text-white mb-5">
        <img src="../../../assets/images/assets-wires/img/Connected world-pana 1.png" width="100" height="100"
          class="mr-3" alt="">
        <p class="text-xs mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus quae qui, sint labore
          perspiciatis voluptas.</p>
      </div>
    </div>



    <h2 class="font-bold text-2xl text-right text-white mb-3">
      Create a message to shared with your friends.
    </h2>
    <h2 class="text-sm text-right text-white mb-4">
      Create your first message following the first steps:
    </h2>

    <div class="bg-primary-inlaze rounded-full opacity-40 w-[39rem] h-[39rem] absolute right-1/2 pointer-events-none">

    </div>

    <div class="flex item-center text-white text-right mb-5">
      <p class="text-xs mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus quae qui, sint labore
        perspiciatis voluptas.</p>
      <img src="../../../assets/images/assets-wires/img/Fashion blogging-pana 2.png" width="100" height="100"
        class="mr-3" alt="">
    </div>
    <div class="flex item-center text-white text-right mb-5">
      <p class="text-xs mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus quae qui, sint labore
        perspiciatis voluptas.</p>
      <img src="../../../assets/images/assets-wires/img/Connected world-pana 1.png" width="100" height="100"
        class="mr-3" alt="">
    </div>



    <div class="bg-white opacity-75 backdrop-blur-sm rounded-lg flex justify-center items-center p-2 mb-4">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png"
        height="40" width="60" class="mr-4" alt="Imagen Qr">
      <p class="text-gray-600 text-md font-bold ">
        Scan to download IOS & Android
      </p>
    </div>

    <div class="grid grid-cols-2 gap-5 mb-5">
      <div
        class="w-32 h-32 flex justify-center justify-self-center items-center rounded-lg cursor-pointer bg-transparent transition-all text-yellow-300 hover:bg-gray-700 ">
        <img src="../../../assets/images/assets-wires/icon/ri_app-store-fill.png" class="block" height="80"
          alt="logo ios">
      </div>
      <div
        class="w-32 h-32 flex justify-center justify-self-center items-center rounded-lg cursor-pointer bg-transparent transition-all text-yellow-300 hover:bg-gray-700 ">
        <img src="../../../assets/images/assets-wires/icon/Frame 18.png" class="block" height="80" alt="logo ios">
      </div>
      <div
        class="w-32 h-32 flex justify-center justify-self-center items-center rounded-lg cursor-pointer bg-transparent transition-all text-yellow-300 hover:bg-gray-700 ">
        <img src="../../../assets/images/assets-wires/icon/Vector.png" class="block" height="80" alt="logo ios">
      </div>
      <div
        class="w-32 h-32 flex justify-center justify-self-center items-center rounded-lg cursor-pointer bg-transparent transition-all text-yellow-300 hover:bg-gray-700 ">
        <img src="../../../assets/images/assets-wires/icon/material-symbols_desktop-windows.png" class="block"
          height="80" alt="logo ios">
      </div>
    </div>

    <div class="grid grid-cols-2 gap-5 mb-4">
      <button routerLink="/sign-up" type="button"
        class="h-10 font-bold text-gray-800 border border-primary-inlaze bg-primary-inlaze rounded-lg text-center flex justify-center items-center text-sm ">
        Sign Up
      </button>
      <button routerLink="/sign-in" type="button"
        class="h-10 font-bold text-primary-inlaze border border-primary-inlaze bg-transparent rounded-lg text-center flex justify-center items-center text-sm ">
        Logn In
      </button>
    </div>

  </div>
</div>